body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,input,button,textarea,p,blockquote,th,td,form,pre,code{margin:0;padding:0;-webkit-tap-highlight-color:rgba(0,0,0,0);font-family:"Microsoft YaHei";}
body{line-height:24px;font-size:14px;}
a:active
  ,a:hover{outline:0;}
a{color:#333;text-decoration:none;}
a:hover{color:#777;}
a cite{font-style:normal;*cursor:pointer;}
img{display:inline-block;border:none;vertical-align:middle;}
li{list-style:none;}
table{border-collapse:collapse;border-spacing:0;}
h1
  ,h2
  ,h3{font-size:14px;font-weight:400;}
h4
  ,h5
  ,h6{font-size:100%;font-weight:400;}
hr{height:1px;margin:10px 0;border:0;background-color:#e2e2e2;clear:both;}
button
  ,input
  ,select
  ,textarea{font-size:100%;}
input
  ,button
  ,textarea
  ,select
  ,optgroup
  ,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;outline:0;}
em{font-style:normal;}
pre{white-space:pre-wrap;white-space:-moz-pre-wrap;white-space:-pre-wrap;white-space:-o-pre-wrap;word-wrap:break-word;}

/**头部************************************************/
.header{height:65px;border-bottom:1px solid #404553;background-color:#fff;position:relative;}
.header .logo-div{width:100%;height:40%;top:30%;background:url(../images/qt/index/index_s_002.svg) no-repeat;background-size:contain;background-position:center;position:absolute;}
.header .logo-wrap{height:65px;width:200px;margin:0 0 0 20px;position:relative;}

.header .mbx-exp{left:10px;width:50px;height:50%;top:25%;cursor:pointer;position:absolute;display:none;}
.header .mbx-exp-label{width:100%;height:100%;display:block;cursor:pointer;}
.header .mbx-exp img{width:100%;height:100%;position:absolute;}

.header .layui-nav{position:absolute;right:0;top:0;padding:0;background:none;}
.header .layui-nav .layui-nav-item{margin:0 20px;line-height:66px;}
.header .layui-nav .layui-nav-item a{color:#444;}
.header .layui-nav .layui-nav-item a:hover{color:#000;}

.layui-main .layui-elem-quote:last-child{margin-bottom:0 !important;}
.layui-side .layui-side-scroll::-webkit-scrollbar{width:4px;}

@media screen and (max-width:750px) {
	.header .logo-div{height:34%;top:33%;}
	.header .logo-wrap{margin:0 auto;}
	.header .layui-nav .layui-nav-item{margin:0 10px;}
	.header .layui-nav .layui-nav-item a{padding:0 5px;}
	.header .mbx-exp{display:block;}

	.layui-body{left:0 !important;-webkit-overflow-scrolling:touch;}
	.layui-main{margin:0 5px !important;}
	.layui-main .layui-elem-quote{padding:10px !important;}
	
	.layui-nav .layui-nav-item a{padding:0 10px !important;}

	.layui-layout-admin .layui-side{width:150px !important;top:0;left:-10000px;position:fixed;transition:all .05s;-webkit-transition:all .05s;z-index:10000;}
	.layui-layout-admin .layui-nav-tree{width:150px !important;}

	.site-mobile .layui-body{left:150px !important;}
	.site-mobile .layui-side{left:0;}
	.site-mobile .layui-side .layui-side-scroll{z-index:1000;-webkit-overflow-scrolling:touch;}
	.site-mobile .site-mobile-shade{top:0;bottom:0;left:0;right:0;position:fixed;content:"";z-index:999;}
}