.zwDiv{height:10px;}
.bkNone{background:none;}
.noMargin{margin:0 !important;}
.noPadding{padding:0 !important;}

/**链接弹出内容********************************************/
.lkPopCon{font-size:14px;padding:0;}
.lkPopCon .lkPopDiv{width:50vw;max-width:100vw;height:70vh;}
.lkPopCon img{max-width:100vw;}
.lkTipCon{font-size:14px;padding:4px;line-height:24px;}

/**链接文字**********************************************/
.lkPop{color:#0990AD;cursor:pointer;}
.lkPop:hover{color:#09628C}
.lkTip{color:#009688;cursor:pointer;}
.lkBlank{color:#963000;cursor:pointer;}
.lkBlank:hover{color:#963000;text-decoration:underline;}

/**高亮************************************************/
.answer{color:#009688}

/**单个图片Div*******************************************/
.sinImgDiv{margin:10px 0;}
.sinImgDiv img{max-width:calc(100vw - 10px);}

/**单个代码Div*******************************************/
.sinCodeDiv{margin:5px 0;}

.indent-area>p{text-indent:20px;}
.indent-area>p.notIndent{text-indent:0px;}

/**混合Div*********************************************/
.hhDiv{position:relative;margin:5px 0;}
.hhDiv .imgDiv{position:absolute;top:0px;left:0px;}
.hhDiv .codeDiv{position:relative;top:0px;left:0px;}
.hhDiv .textDiv{position:absolute;top:0px;left:0px;}

@media screen and (max-width:750px) {
	.hhDiv .imgDiv{padding:.5rem 0;position:static;background:#F0F0F0;}
	.hhDiv .textDiv{padding:.5rem 0;position:static;background:#F0F0F0;}
	.lkPopCon .lkPopDiv{width:100vw;height:70vh;max-width:100vw;max-height:70vh;}
}